{% extends "layout.html.twig" %}
{% block body %}
    {% if session == null %}
Sign up<a href='register.php'>aqui</a> <br />
Login <a href='login.php'>aqui</a> <br />
Search <a href='find.php'>aqui</a> <br />
Admin panel <a href='loginAdmin.php'>aqui</a>
    {% else %}
        {% if session.userName == 'admin' %} 
Sign up <a href='register.php'>here</a> <br />
Login <a href='login.php'>here</a> <br />
Search <a href='find.php'>here</a> <br />
Admin panel <a href='loginAdmin.php'>here</a> <br />
League manager <a href='leagues.php'>here</a>
        {% else %}
Hola {{session.userName}}
        {% endif %}
<br /><br />
<a href='logout.php'>Log out</a>
    {% endif %}
{% endblock %}


