{% extends "layout.html.twig" %}
{% block body %}
    {% if session == null %}
        Registro <a href='register.php'>aqui</a> <br />
        Autentificacion <a href='login.php'>aqui</a> <br />
        Busqueda <a href='find.php'>aqui</a>
    {% else %}
        Hola {{session.userName}}
        <br /><br />
        <a href='logout.php'>Log out</a>
    {% endif %}
{% endblock %}


