<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  {% block head %}
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/messages.js"></script>
    <title>{% block title %}{{pageTitle}}{% endblock %}</title>
  {% endblock %}
</head>
<body>
        {% block body %}
        {% endblock %}
</body>
</html>