{% extends "layout.html.twig" %}
{% block body %}
<form name='form' id='form' class='form' action='insertStage.php' onsubmit='return validate(this)' method='post'>
    <fieldset>
        <legend>
            <span>Stage</span>
        </legend>
        <input type='hidden' id='id' name='id' value='{{ leagueId }}' />
        <div>
            <label for='number'>Number</label>
            <input name='number' id='number' type='text' />
        </div>
        <div>
            <label for='startDate'>Start date</label>
            <input name='startDate' id='startDate' type='text' />
        </div>
        <div>
            <label for='finishDate'>Finish date</label>
            <input name='finishDate' id='finishDate' type='text' />
        </div>
        <div>
            <label for='year'>Year</label>
            <input name='year' id='year' type='text' />
        </div>
        <div>
            <label for='status'>Status</label>
            <input name='status' id='status' type='text' />
        </div>
    </fieldset>
    <fieldset class='submit'>
        <input name='submit' id='submit' value='Insert' type='submit' class='button'/>
    </fieldset>
</form>
<a href='index.php'>Back</a>
{% endblock %}