{% extends "find.html.twig" %}

<table cellspacing='0' cellpading='0'><tr class='encabezado'>
        <td class="encabezado_selec" onclick=sortBy('name1','DESC','','')><a><img src="img/arrow_up.gif" />Equipo</a></td> 
    </tr><tr onclick="document.location='modify.php?id=2';"> 
        <td class="filas_selec">Xandra Lopez / Paola Strasser</td> 
    </tr> 
    <tr onclick="document.location='modify.php?id=1';"> 
        <td class="filas_selec">Mirentxu Vera / Maria Jose Moure</td> 
    </tr> 
    <tr onclick="document.location='modify.php?id=3';"> 
        <td class="filas_selec">Loreto Ramos / Carla Barciela</td> 
    </tr> 
</table>